.contenedor{
    width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    margin-top: 5px;
    border-radius: 15px;
}

.contenedor h1{
    text-align: center;
    color: #000;
}

.contenedor table{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.contiene{
    width: 30px;
    background-color: #fff;
    padding: 30px;
}

.no-contiene{
    width: 30px;
    background-color: #B40202;
    padding: 30px;
}

.cont-cuadros{
    display: flex;
    justify-content: center;
}

.caja{
    width: 30px;
    padding: 15px;
    text-align: center;
    font-size: 24px;
    color: #000;
    background-color: #DC3030;
    border: 1px solid #000;
    cursor: pointer;
    margin: 2px
}

.resultado{
    background-color: #C41D1D;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

* {
    transition: all 0.3s;
    }

    .marco {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: calibri;
    color: black;
    }

    .botones-contenedor {
    display: flex;
    justify-content: space-around;
    }

    .btn {
    cursor: pointer;
    display: inline-block;
    font-size: 60%;
    padding: 20px;
    }